/* ------------------------------------
 FONT STYLES
--------------------------------------- */

@font-face {
  font-family: 'Poiret One';
  src: url('../media/fonts/poiret-one.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Light';
  src: url('../media/fonts/raleway-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Regular';
  src: url('../media/fonts/raleway-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Thin';
  src: url('../media/fonts/raleway-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Halant Light';
  src: url('../media/fonts/halant-light.ttf') format('truetype');
}
