/* ------------------------------------
 CARD STYLES
--------------------------------------- */

.card {
  box-shadow: $DP4;
  width: 30rem;
}

.card__title {
  background: $COLOR_BLUE;
  color: $COLOR_LIGHTEST;
}

.card__supporting-text {

}

.card__actions {

}
