/* ------------------------------------
 CARD STYLES
--------------------------------------- */

.card {
  box-shadow: $DP4;
  min-height: 20rem;
  width: 30rem;
  margin-bottom: 1.6rem;
}

.card__title {
  background: $COLOR_DARK;
  color: $COLOR_LIGHTEST;
  padding: 1.6rem;
}

.card__supporting-text {
  padding: 1.6rem;
}

.card__actions {

}
