.list__item {
  margin-bottom: 2.4rem;
}

.list__item-avatar {
  background: $COLOR_DARKEST;
  border-radius: 50%;
  height: 5.6rem;
  margin: auto auto 1.6rem;
  padding: 1rem 0;
  text-align: center;
  width: 5.6rem;
}

.list__item-title {
  margin-bottom: 0.8rem;
}
