/* ------------------------------------
 FONTS
--------------------------------------- */

$FONT_POIRET: 'Poiret One';
$FONT_RALEWAY_LIGHT: 'Raleway Light';
$FONT_RALEWAY_REG: 'Raleway Regular';
$FONT_RALEWAY_THIN: 'Raleway Thin';
