/* ------------------------------------
 TEXT STYLES
--------------------------------------- */

@mixin textLg($size, $weight: 300, $lHeight: 1.2) {
  font-size: $size;
  font-weight: $weight;
  line-height: 1 * 1.7;
}

/* ------------------------------------
 TEXT SIZES
--------------------------------------- */

.text--caption {
  @include textLg(1.3rem);
}

.text--body {
  @include textLg(1.5rem);
}

.text--subheading {
  @include textLg(1.7rem);
}

.text--title {
  @include textLg(2.1rem, 700);
}

.text--headline {
  @include textLg(2.4rem);
}

.text--display-sm {
  @include textLg(3.4rem);
}

.text--display-md {
  @include textLg(4.5rem);
}

.text--display-lg {
  @include textLg(5.6rem);
}

.text--display-xl {
  @include textLg(11.2rem);
}
