@import '../../../assets/styles/globals/colors';

/* ------------------------------------
 FOOTER STYLES
--------------------------------------- */

footer {
  background: $COLOR_DARK;
  color: $COLOR_LIGHTEST;
  display: flex;
  align-items: center;
  min-height: 5rem;
  padding: 0 2.4rem;
}
