nav {
  background: $COLOR_DARKEST;
  box-shadow: $DP4;
  color: $COLOR_GRAY;
  display: flex;
  height: 5rem;
}

  .nav__list {
    display: none;
  }

  .nav__trigger {
    opacity: 1;
    position: absolute;
    right: 0;
    transition: all 0.5s 0.2s;
    transform: translate(-1.6rem, 1.2rem) rotate(0deg) scale(1, 1);
  }

    .nav__trigger--active {
      opacity: 0;
      transition: all 0.35s;
      transform: translate(-1.6rem, 1.2rem) rotate(-180deg) scale(0, 0);
    }
