@import '../../../assets/styles/globals/colors';
@import '../../../assets/styles/globals/resolutions';
@import '../../../assets/styles/functions/breakpoints';

/* ------------------------------------
 HERO STYLES
--------------------------------------- */

.hero {
  display: flex;
  flex-direction: column;
}

.hero__avatar,
.hero__details {
  background: $COLOR_DARK;
  width: 100vw;
  max-width: 100%;
  padding: 1.6rem;
}

.hero__image {
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  height: inherit;
  width: inherit;
  max-width: 100%;
}

.hero__details {
  color: $COLOR_LIGHTEST;
}

/* ------------------------------------
 MD RESOLUTION STYLES
--------------------------------------- */

@include breakpoint($SCREEN_SM_MD) {
  .hero__image {
    display: flex;
    margin: auto;
    max-width: 50%;
  }
}

@include breakpoint($SCREEN_MD) {
  .hero {
    display: flex;
    flex-direction: row;
  }

  .hero__avatar,
  .hero__details {
    height: 40rem;
    width: 40rem;
  }

  .hero__image {
    max-height: 90%;
    max-width: 90%;
  }

  .hero__details {
    background: $COLOR_DARK;
    color: $COLOR_LIGHTEST;
    flex: 1;
    padding: 0 2.4rem;
  }
}
