/* ------------------------------------
 CARD STYLES
--------------------------------------- */

.card {
  box-shadow: $DP4;
  min-height: 20rem;
  width: 30rem;
  margin-bottom: 1.6rem;
}

.card__title {
  background: $COLOR_BLUE;
  color: $COLOR_LIGHTEST;
  padding: 1.6rem;
}

.card__supporting-text {
  min-height: 15rem;
  padding: 1.6rem;
}

.card__actions {
  align-items: flex-end;
  display: flex;
  min-height: 9rem;
  padding: 1.6rem;
}

/* ------------------------------------
 CARD MIXIN STYLES
--------------------------------------- */

.card--centered {
  margin: 0 auto;
}
