/* ------------------------------------
PAGE STYLES
--------------------------------------- */

.page__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
}
