/* ------------------------------------
 COLOR VARS
 FROM: http://colorhunt.co/c/42237
--------------------------------------- */

$COLOR_DARK: #283739;
$COLOR_BLUE: #228896;
$COLOR_GREEN: #A9C52F;
$COLOR_GRAY: #F5F5F5;

$COLOR_TRANSPARENT: transparent;
