@mixin rhythm($rhythm) {
  padding: #{$rhythm}rem;
}

@mixin rhythmT {
  padding-top: #{$rhythm}rem;
}

@mixin rhythmR {
  padding-right: #{$rhythm}rem;
}

@mixin rhythmB {
  padding-bottom: #{$rhythm}rem;
}

@mixin rhythmL {
  padding-left: #{$rhythm}rem;
}

@mixin rhythmFlats {
  padding-bottom: #{$rhythm}rem;
  padding-top: #{$rhythm}rem;
}

@mixin rhythmSides {
  padding-left: #{$rhythm}rem;
  padding-right: #{$rhythm}rem;
}
