/* ------------------------------------
 APP VARIABLES
--------------------------------------- */

/* ------------------------------------
 SCREEN SIZES
--------------------------------------- */
$SCREEN_SM: 320px;
$SCREEN_MD: 768px;
$SCREEN_LG: 1224px;
$SCREEN_XL: 1824px;

/* ------------------------------------
 FONTS
--------------------------------------- */

$FONT_POIRET: 'Poiret One';
$FONT_RALEWAY_LIGHT: 'Raleway Light';
$FONT_RALEWAY_REG: 'Raleway Regular';
$FONT_RALEWAY_THIN: 'Raleway Thin';
