/* ------------------------------------
 HERO STYLES
--------------------------------------- */

.hero {
  display: flex;
  flex-direction: column;
}

.hero__avatar,
.hero__details {
  background: $COLOR_DARK;
  width: 100vw;
}

.hero__image {
  height: inherit;
  width: inherit;
}

.hero__details {
  background: $COLOR_DARK;
  color: $COLOR_LIGHTEST;
  max-width: 100%;
  padding: 1.6rem;
}
