/* ------------------------------------
 COLOR VARS
 NEW: http://colorhunt.co/c/71378
 OLD: http://colorhunt.co/c/42237
--------------------------------------- */

$COLOR_DARKEST: #222831;
$COLOR_DARK: #393E46;
$COLOR_BLUE: #0092CA;
$COLOR_GRAY: #EEEEEE;

$COLOR_DARK_BLUE: #283739;
$COLOR_TEAL: #228896;
$COLOR_GREEN: #A9C52F;
$COLOR_LIGHTEST: #F5F5F5;

$COLOR_TRANSPARENT: transparent;
